.history-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: calc(3 * 90px);
    /* Adjust height based on the item size (e.g., 80px per item) */
    overflow: scroll;
    padding: 10px;

    .history-item {
        background: #FCF6F9;
        border: 2px solid #FFFFFF;
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
        padding: 1rem;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
    }
}

.history-div::-webkit-scrollbar {
    width: 6px;
}

.history-div::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.history-div::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
